.addMonologueForm {
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid #543D99;
  border-radius: 10px;
  box-shadow: 0 10px 20px #ddd;
  margin-bottom: 20px; }
  .addMonologueForm > * {
    margin-bottom: 10px; }
  .addMonologueForm__button, .addMonologueForm__toggle {
    width: 100px;
    padding: 10px 0;
    background: none;
    border: 2px solid #543D99;
    border-radius: 5px;
    color: #543D99; }
    .addMonologueForm__button:hover, .addMonologueForm__toggle:hover {
      background: #543D99;
      color: #fff;
      cursor: pointer; }

#title,
#playwright {
  width: 30%; }
