.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .header__heading {
    margin: 0; }
  .header__log-out {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px; }
    .header__log-out:hover {
      color: #000;
      background-color: #fff;
      cursor: pointer; }
