* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .header__heading {
    margin: 0; }
  .header__log-out {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px; }
    .header__log-out:hover {
      color: #000;
      background-color: #fff;
      cursor: pointer; }

.landing {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column; }

.login-form {
  padding: 30px;
  border: 2px solid #8A74CC;
  border-radius: 10px;
  box-shadow: 0 10px 10px #ddd;
  margin-bottom: 30px; }
  .login-form > * {
    margin-bottom: 10px; }
  .login-form__button {
    background: none;
    border: 2px solid #543D99;
    border-radius: 5px;
    padding: 5px 10px; }
    .login-form__button:hover {
      background-color: #543D99;
      color: #fff;
      cursor: pointer; }

#username,
#password,
#passwordConfirm {
  border: 2px solid #543D99;
  border-radius: 3px;
  padding: 5px 10px; }

.username-label,
.password-label {
  margin-bottom: 10px; }

.addMonologueForm {
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid #543D99;
  border-radius: 10px;
  box-shadow: 0 10px 20px #ddd;
  margin-bottom: 20px; }
  .addMonologueForm > * {
    margin-bottom: 10px; }
  .addMonologueForm__button, .addMonologueForm__toggle {
    width: 100px;
    padding: 10px 0;
    background: none;
    border: 2px solid #543D99;
    border-radius: 5px;
    color: #543D99; }
    .addMonologueForm__button:hover, .addMonologueForm__toggle:hover {
      background: #543D99;
      color: #fff;
      cursor: pointer; }

#title,
#playwright {
  width: 30%; }

.dashboard {
  margin: 50px; }

.monologues {
  list-style-type: none;
  padding: 0; }
  .monologues__item {
    margin-bottom: 10px; }
  .monologues__toggle, .monologues__toggle-comments, .monologues__toggle-add-comment {
    padding: 5px;
    margin: 0 5px;
    background: none;
    border: 2px solid #679986;
    color: #679986;
    border-radius: 5px; }
    .monologues__toggle:hover, .monologues__toggle-comments:hover, .monologues__toggle-add-comment:hover {
      background-color: #679986;
      color: #fff; }
  .monologues__wrapper {
    display: flex; }
  .monologues__lines {
    flex-basis: 60%; }
