.login-form {
  padding: 30px;
  border: 2px solid #8A74CC;
  border-radius: 10px;
  box-shadow: 0 10px 10px #ddd;
  margin-bottom: 30px; }
  .login-form > * {
    margin-bottom: 10px; }
  .login-form__button {
    background: none;
    border: 2px solid #543D99;
    border-radius: 5px;
    padding: 5px 10px; }
    .login-form__button:hover {
      background-color: #543D99;
      color: #fff;
      cursor: pointer; }

#username,
#password,
#passwordConfirm {
  border: 2px solid #543D99;
  border-radius: 3px;
  padding: 5px 10px; }

.username-label,
.password-label {
  margin-bottom: 10px; }
